.contact-section {
  margin: 50px auto;
  padding: 20px;
  max-width: 500px;
}

.form-label {
  margin-bottom: 10px;
}

.form-control {
  margin-bottom: 20px;
}

.glow-button {
  animation: glowing 2s infinite;
}

.error {
  font-size: 1.2rem;
  color: red;
  margin-bottom: 10px;
}

.contact-info {
  color: purple;
  font-size: 1.2rem;
  margin-top: 50px;
  animation: glowingPurple 2s infinite;
  text-align: center;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px blue;
  }

  50% {
    box-shadow: 0 0 20px blue;
  }

  100% {
    box-shadow: 0 0 5px blue;
  }
}

@keyframes glowingPurple {
  0% {
    box-shadow: 0 0 5px purple;
  }

  50% {
    box-shadow: 0 0 20px purple;
  }

  100% {
    box-shadow: 0 0 5px purple;
  }
}